<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>HAHA Shop</title>

  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div id="wrap">
    <div class ="header">
      <% include header.ejs %>
    </div>
    <hr />

    <div class="content">

      <br>
      <h3> 로그인 해주세요</h3>
      <br>
      <div id="box0">
      <form method="post">
         ID : <input type="text" name="login" /><br>
        Password : <input type="text" name="password" />
        <input type="submit" name="" value="확인">
      </form>
      </div>
      <br>

    </div>

    <hr />
    <div class="footer">
      <% include footer.ejs %>
    </div>
  </div>
</body>
</html>
