<div class="cc">
  주소: 어딘가에 있는데 어딘지 모를 곳
  <a href="/wor">직원용 페이지</a>
  <a href="/mana">매니저용 페이지</a> <br>
  대표: 퐁퐁퐁 | 사업자번호: 123-1234-12345<br>
  고객 문의: 010-1111-2222 | 이메일 문의: wwwwaaa@hahah.com
</div>
