<div id = "logo">
  <img src="/images/logo.png" alt="Logo">
</div>
<div id = "top_menu">
  <a href="/">Cus_HOME</a> |
  <a href="/wor">Work_HOME</a> |
  <a href="/mana">Manager_HOME</a> |
  <a href="/mana">LOGIN</a> |
  <a href="/mana_logout">LOGOUT</a>
</div>
<nav>
  <ul>
    <li><a href="/mana_main">상의</a></li>
    <li><a href="/mana_bottom">하의</a></li>
    <li><a href="/mana_acce">악세서리</a></li>
    <li><a href="/mana_cus">고객 조회</a></li>
    <li><a href="/mana_wor">직원 조회</a></li>
    <li><a href="/mana_insert_wor">직원 추가</a></li>
  </ul>
</nav>
