<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>HAHA Shop</title>

  <link rel="stylesheet" href="/stylesheets/wor_style.css">
</head>
<body>
  <div id="wrap">
    <div class ="header">
      <% include wor_header.ejs %>
    </div>
    <hr />

    <div class="content">

      <br>
        <h3>Top. INSET</h3>
        <br>
        <form method="post" enctype="multipart/form-data">
        <fieldset>
          <table>
            <tr>
              <td><label>ID : </label></td>
              <td><input type="text" name="id" /></td>
            </tr>
            <tr>
              <td><label>Name : </label></td>
              <td><input type="text" name="name" /></td>
            </tr>
            <tr>
              <td><label>Count : </label></td>
              <td><input type="text" name="count" /></td>
            </tr>
            <tr>
              <td><label>Discount : </label></td>
              <td><input type="text" name="discount" /></td>
            </tr>
            <tr>
              <td><label>Kind : </label></td>
              <td><input type="text" name="kind" /></td>
            </tr>
            <tr>
              <td><label>Price : </label></td>
              <td><input type="text" name="price" /></td>
            </tr>
            <tr>
              <td><label>Image : </label></td>
              <td><input type="file" name="image" /></td>
            </tr>
          </table>
          <input type="submit" value="확정" />
        </fieldset>
        </form>
        <br>

    </div>

    <hr />
    <div class="footer">
      <% include footer.ejs %>
    </div>
  </div>
</body>
</html>
